[submodule "vendor/forks/c64css3"]
	path = vendor/forks/c64css3
	url = https://github.com/fredporter/c64css3.git
[submodule "vendor/forks/NES.css"]
	path = vendor/forks/NES.css
	url = https://github.com/fredporter/NES.css.git
[submodule "vendor/forks/svelte-notion-kit"]
	path = vendor/forks/svelte-notion-kit
	url = https://github.com/fredporter/svelte-notion-kit.git
[submodule "vendor/forks/bedstead"]
	path = vendor/forks/bedstead
	url = https://github.com/fredporter/bedstead.git
