interface=wlan0
driver=nl80211
ssid=uDOS-Beacon
hw_mode=g
channel=6
wmm_enabled=1
macaddr_acl=0
auth_algs=1
ignore_broadcast_ssid=0

country_code=AU

wpa=2
wpa_passphrase=ChangeThisPassphrase
wpa_key_mgmt=WPA-PSK
rsn_pairwise=CCMP
