UDOS_HOME=$HOME/.udos
UDOS_STATE_ROOT=$HOME/.udos/state
UDOS_VAULT_ROOT=${UDOS_STATE_ROOT}/vault
UDOS_RENDER_ROOT=${UDOS_STATE_ROOT}/rendered
UDOS_WIZARD_HOST=127.0.0.1
UDOS_WIZARD_PORT=8787
WIZARD_STATE_ROOT=$HOME/.udos/state/wizard
