UDOS_HOME=$HOME/.udos
UDOS_CACHE_ROOT=$HOME/.udos/cache
UDOS_STATE_ROOT=$HOME/.udos/state
UDOS_LOG_ROOT=$HOME/.udos/logs
UDOS_VAULT_ROOT=${UDOS_STATE_ROOT}/vault
UDOS_RENDER_ROOT=${UDOS_STATE_ROOT}/rendered
