repo_store:
  root: "~/.udos/repos"
  registry: "~/.udos/state/gitd/repo-registry.tsv"
  default_clone_mode: working-checkout
  allow_attach_outside_root: true
repos:
  - repo_id: uDOS-host
    path: "~/.udos/repos/uDOS-host"
    remote: "git@github.com:udos-family/uDOS-host.git"
    default_branch: main
    sync_policy: manual-push-auto-fetch
  - repo_id: uDOS-empire
    path: "~/.udos/repos/uDOS-empire"
    remote: "git@github.com:udos-family/uDOS-empire.git"
    default_branch: main
    sync_policy: manual-push-auto-fetch
